<ion-menu id="adminMenu" [content]="content">
    <ion-content class="sideMenu">

    <div center class="menuHeader">
    <img src="assets/img/appicon.png" class="menu-logo" alt="misyon-thumbnail"/>
    </div>

    <div class="menuList">
        <!-- admin pages only -->
        <ion-list [hidden]="adminHide">
            <button menuClose ion-item *ngFor="let p of adminPages" (click)="openPage(p)" class="menuList">
            <ion-icon item-left name="{{p.icon}}" color=isActive(p)></ion-icon>
            {{p.title}}
            </button>
        </ion-list>

        <ion-list>
            <button menuClose ion-item (click)="goToLogin()" class="menuList">
            <ion-icon name="log-out"></ion-icon> &nbsp; Logout
            </button>
        </ion-list>
    </div>

    </ion-content>
</ion-menu>


<ion-menu id="gheadMenu" [content]="content">
    <ion-content class="sideMenu">

    <div center class="menuHeader">
    <img src="assets/img/appicon.png" class="menu-logo" alt="misyon-thumbnail"/>
    </div>

    <div class="menuList">
        <!-- grouphead pages only -->
        <ion-list [hidden]="ghHide">
            <button menuClose ion-item *ngFor="let p of gheadPages" (click)="openPage(p)" class="menuList">
            <ion-icon item-left name="{{p.icon}}" color=isActive(p)></ion-icon>
            {{p.title}}
            </button>
        </ion-list>

        <ion-list>
            <button menuClose ion-item (click)="goToLogin()" class="menuList">
            <ion-icon name="log-out"></ion-icon> &nbsp; Logout
            </button>
        </ion-list>
    </div>

    </ion-content>
</ion-menu>


<ion-menu id="volunMenu" [content]="content">
    <ion-content class="sideMenu">

    <div center class="menuHeader">
    <img src="assets/img/appicon.png" class="menu-logo" alt="misyon-thumbnail"/>
    </div>

    <div class="menuList">
        <!-- volunteer pages only -->
        <ion-list [hidden]="volunHide">
            <button menuClose ion-item *ngFor="let p of volunPages" (click)="openPage(p)" class="menuList">
            <ion-icon item-left name="{{p.icon}}" color=isActive(p)></ion-icon>
            {{p.title}}
            </button>
        </ion-list>

        <ion-list>
            <button menuClose ion-item (click)="goToLogin()" class="menuList">
            <ion-icon name="log-out"></ion-icon> &nbsp; Logout
            </button>
        </ion-list>
    </div>

    </ion-content>
</ion-menu>


<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>